 <header>
        <h1>Books</h1>
    </header>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Body</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>id1のtitleが入る</td>
                    <td>id1のbodyが入る。長めの設定にしたいだけです</td>
                    <td><a href="">Show</a></td>
                    <td><a href="">Edit</a></td>
                    <td><a href="">Destroy</a></td>
                </tr>
            </tbody>
        </table>
        <h2>New book</h2>
      <%= form_with model: Book.new, local: true do |f| %>
        <div class="field">
          <label>
            Title
          </label>
            <%= f.text_field :title %>
        </div>
        <div class="field">
          <label>
            Body
          </label>
            <%= f.text_area :body %>
        </div>
        <div class='action'>
          <%= f.submit 'Create Book' %>
        </div>
      <% end %>
    </body>